@{
    ViewBag.Title = "Welcome";
}
<img src="~/Content/images/headerImage1.PNG" />
<h2>Welcome to CSE 136 Prototype web.</h2>
Please <a href="/Login">Login</a>

<hr />
The following are loaded by using ajax call and knockoutjs (MVVM pattern):

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: viewModel">
        <tr>
            <td data-bind="text: title"></td>
            <td data-bind="text: description"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/Course/GetCourseList",
            data: "",
            dataType: "json",
            success: function (courseList) {
                // courseList is the presentation layer Model coming from the controller CourseController.cs
                // and method name is GetCourseList()

                // courseList - presentation layer model retrieved from /Course/GetCourseList route.
                // courseListViewModel - view model for the html content
                var courseListViewModel = new Array();

                // for this example, viewModel doesn't contain the "id" but courseList contains "id"
                // This is to demonstrate the difference between viewModel and Model in the (MVVM pattern)
                for (var i = 0; i < courseList.length; i++) {
                    courseListViewModel[i] = { title: courseList[i].title, description: courseList[i].description };
                }
                // this is using knockoutjs to bind the viewModel and the view
                ko.applyBindings({ viewModel: courseListViewModel });
            },
            error: function () {
                alert('Error while loading course list.  Is your service layer running?');
            }
        });
    });
</script>
