@model web136.Models.ScheduleTime.PLScheduleTime

<h2>PLScheduleTime</h2>

<fieldset>
    <legend>PLScheduleTime</legend>

    <div class="display-label">Schedule Time</div>
    <div class="display-field">@Model.scheduleTime</div>

</fieldset>
