@model web136.Models.Major.PLMajor

<h2>PLMajor</h2>

<fieldset>
    <legend>PLMajor</legend>

    <div class="display-label">major_id</div>
    <div class="display-field">@Model.major_id</div>

    <div class="display-label">major_name</div>
    <div class="display-field">@Model.major_name</div>

    <div class="display-label">dept_id</div>
    <div class="display-field">@Model.dept_id</div>

</fieldset>
