@{
    ViewBag.Title = "Admin";
}
<h2>Welcome admin</h2>

<p>What feature should admin able to do?</p>
<ul>
    <li><a href="~/Admin/Edit">Edit my info</a></li>
    <li>manage schedule day table</li>
    <li>manage schedule time table</li>
    <li>manage new course plan</li>
    <li>manage new course schedule</li>
</ul>
