@model web136.Models.ScheduleDay.PLScheduleDay

<h2>PLScheduleDay</h2>

<fieldset>
    <legend>PLScheduleDay</legend>

    <div class="display-label">Schedule Day</div>
    <div class="display-field">@Model.scheduleDay</div>

</fieldset>
