@model IEnumerable<web136.Models.Enrollment.PLEnrollment>

@{
    ViewBag.Title = "Transcript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Grade</h2>

<table id="tableTranscriptList">
    <tr>
        <th>Student ID</th>
        <th>Grade</th>
        <th>Change</th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                @item.studentID
            </td>
            <td>
                @item.grade
            </td>
            <td>
                @Html.ActionLink("Edit", "EditGrade", new { stID = item.studentID, schID = item.scheduledCourse.schedule_id, grade = item.grade })
            </td>
        </tr>
    
    }

</table>
