@{
    ViewBag.Title = "Staff Home";
}

<h2>Staff Menu</h2>
<h3>Instructor</h3>
<ul>
    <li>Class</li>
</ul>
<h3>Advisor</h3>
<ul>
    <li>View Students</li>
    <li>View Schedule</li>

</ul>
<h3>Chair</h3>
<ul>
    <li>Add Student</li>
    <li>Add Staff</li>
    <li>Add Department</li>
    <li>Add Major</li>
    <li>Add Class</li>
    <li>Add Schedule</li>
    <li>Add Schedule Day</li>
    <li>Add Schedule Time</li>
    <li>etc</li>
</ul>