@model web136.Models.Department.PLDepartment

<h2>PLDepartment</h2>

<fieldset>
    <legend>PLDepartment</legend>

    <div class="display-label">Department Name</div>
    <div class="display-field">@Model.deptName</div>

    <div class="display-label">Chair ID</div>
    <div class="display-field">@Model.chair_id</div>

</fieldset>
