@model web136.Models.Enrollment.PLEnrollment

<h2>PLEnrollment</h2>

<fieldset>
    <legend>PLEnrollment</legend>

    <div class="display-label">Course Session</div>
    <div class="display-field">@Model.scheduledCourse.session</div>

    <div class="display-label">Chair ID</div>
    <div class="display-field">@Model.chair_id</div>

</fieldset>
