@model IEnumerable<web136.Models.Department.PLDepartment>

@{
    ViewBag.Title = "List Schedule Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule Time List</h2>

<table id="tableDepartmentList">
    <tr>
        <th>Edit</th>
        <th>Department Name</th>
        <th>Chair ID</th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                 @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </td>
            <td>
                @item.deptName
            </td>
            <td>
                @item.chair_id
            </td>
        </tr>
    
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>