@model IEnumerable<web136.Models.ScheduleDay.PLScheduleDay>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule Day List</h2>

<table id="tableScheduleDayList">
    <tr>
        <th>Delete</th>
        <th>Schedule Day
        </th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
            <td>
                 @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            <td>
                @item.scheduleDay
            </td>
        </tr>
    
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>